@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* General Styling */
body, p, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

 h1{
  
} 

ul{
    /* list-style-type: circle; */
    
}

p{
    font-size: 1em;
    font-weight: 100;
    margin: 0px;
    font-weight: normal;
    padding: 8px;
    line-height: 1em;
}

/* styling links */
a{
    text-decoration: none;
    color:#15abdd;
    font-size: var(--primary-font-size);
}


/* Blog post flex container */
.blog-post-container{
    max-width:100vw;
    height: auto;
    display: flex; 
    flex-wrap: wrap;
}  

.blog-post-left-content{
    background-color: var(--primary-color);
    flex: 3;
    min-width: 400px;
}

.blog-post-right-bar{
    background-color: beige ;
    min-width: 400px;
    
}
    



