/* General Styling */
body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.2em;
    padding: 8px;
}

ul{
    list-style-type: none;
    
}

a{
    color:white;
}

p{
    font-size: 2em;
    font-weight: 100;
    margin: 0px;
    font-weight: normal;
    padding: 8px;
    line-height: 1em;
}

/* styling of header starts here */
.header {
    max-width:100vw ;
    height: 63px; /* This heigh needs to change */
    background-color: #3E2723;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    color:white;
}

.navigation{
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-between;
    
}

.menuItem{
    width: 106px;
    height: 29px;
    align-self: center;
}

.menuItem.active {
    font-weight: bold;
    background-color: red;
}

/* header styling ends here */


/* Sections starts here */
.sections{
    max-width: 100vw;
    /* background-color: red; */
}

.odd-section, .even-section{
    display: flex;
    height: calc(100vh - 64px);
    color:white;
}

.odd-section{
    background: #8D6E63;
}

.even-section{
    background: #5D4037;;
}

.odd-section .imageContent{
    width:55vw;
    flex-shrink: 0;
}


.even-section .imageContent{
    width: 45vw;;
}


.contentArea, .contentArea2{
    display: flex;
    padding:16px;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
   
}


/* .content, .content2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
} */

.sectionHeader{
   align-self: flex-end; 
}

.sectionHeader, .sectionHeader2{
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.sectionContent{
    /* justify-self: flex-end; */
}

/* Sections end here */
