/* General Styling */
body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.2em;
    padding: 8px;
}

ul{
    list-style-type: none;
    
}

a{
    color:white;
}

p{
    font-size: 2em;
    font-weight: 100;
    margin: 0px;
    font-weight: normal;
    padding: 8px;
    line-height: 1em;
}

/* styling of header starts here */
.header {
    width:100vw ;
    height: 63px; /* This heigh needs to change */
    background-color: #3E2723;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    color:white;
}

.navigation{
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-between;
    
}

.menuItem{
    width: 106px;
    height: 29px;
    align-self: center;
}

/* header styling ends here */


/* Sections starts here */
.sections{
    width: 100vw;
    background-color: red;
}

.section1, .section2{
    display: flex;
    height: 844px;
    border: 1px solid blue;
}

.section1{
    background: #8D6E63;
}

.section2{
    background: #5D4037;;
}

.imageContent{
    width: 816px;
    flex-shrink: 0;
}

.contentArea, .contentArea2{
    display: flex;
   
}

.content, .content2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.sectionHeader{
   align-self: flex-end; 
}

.sectionContent{
    /* justify-self: flex-end; */
}

/* Sections end here */
