/* General Styling */
body {
    margin: 0;
    padding: 0;
}

h1 {
    /* font-size: 1.2em; */
    padding: 8px;
    color: #FFF;
}

ul,
li {
    list-style-type: none;

}

a {
    color: blue;
}

p {
    font-size: 2rem;
    font-weight: 100;
    margin: 0px;
    font-weight: normal;
    padding: 8px;
    line-height: 1em;
}

/* styling of header starts here */
.header {
    max-width: 100vw;
    background-color: #3E2723;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navigation {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.menuItem {
    align-self: center;
    padding: 8px 16px;
}


/* Active class*/
.active {
    font-weight: bold;
    background-color: red;
}

/* header styling ends here */


/* Sections starts here */
.sections {
    max-width: 100vw;
    /* background-color: red; */
}

.odd-section,
.even-section {
    display: flex;
    min-height: calc(100vh - 64px);
    color: white;
}

.odd-section {
    background: #8D6E63;
}

.even-section {
    background: #5D4037;
    ;
}

.odd-section .imageContent {
    width: 55vw;
    flex-shrink: 0;
}


.even-section .imageContent {
    width: 44vw;
    ;
}


.odd-content-area,
.even-content-area {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}


/* .content, .content2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
} */

.odd-section-header {
    align-self: flex-end;
}


.odd-section-header p,
.even-section-header p {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.odd-section-content,
.even-section-content {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* code for fixed navigation */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 300px;
    width: 100%;
    z-index: 1000;
}

.sticky-header {
    position: sticky;
    top: 0;
}

/* Add some margin to the content to prevent it from being hidden behind the fixed navbar */
/* .sections {
    margin-top: 60px;
} */


/* Responsiveness starts from here */
@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        /* Adjust padding for smaller screens */
    }

    h1 {
        font-size: 24px;
        /* Reduce font size for smaller screens */
        padding: 4px;
        /* Adjust padding for smaller screens */
    }

    .odd-section .imageContent {
        display: none;
    }


    .even-section .imageContent {
        display: none;
    }

    p {
        font-size: 1.25rem;
    }

}